### Data Cleaning - Data Formatting

In [346]:
import pandas as pd
import csv
import numpy as np

In [347]:
pd.set_option('display.max_columns', None)

In [348]:
# read the data and convert to csv
read_file = pd.read_excel('./loan_default_data.xlsx')
read_file.to_csv ("./loan_default_data.csv",  
                  index = None, 
                  header=True) 
df = pd.read_csv('./loan_default_data.csv', on_bad_lines='warn')
df

C:\Users\Owner\AppData\Local\Temp\ipykernel_4292\634222433.py:6: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./loan_default_data.csv', on_bad_lines='warn')

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NaN,0.0,0.0,0.0,“0.00%”,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,3,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NaN,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,4,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaN,2012-03-01,1
3,5,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaN,2014-03-01,0
4,6,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaN,2016-06-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,38476,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,2011-08-01,Fully Paid,credit_card,805xx,CO,22.17,0.0,2000-01-01,2.0,NaN,12.0,0.0,16550.0,0.735,22.0,3586.619764,3586.62,3000.00,586.62,2014-08-01,100.30,NaN,2016-06-01,0
38476,38477,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,2011-08-01,Fully Paid,credit_card,442xx,OH,11.57,0.0,1999-04-01,1.0,NaN,21.0,0.0,16898.0,0.397,33.0,12703.534030,12703.53,10400.00,2303.53,2014-09-01,393.08,NaN,2016-06-01,0
38477,38478,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,2010-05-01,Fully Paid,debt_consolidation,073xx,NJ,10.63,0.0,1995-12-01,1.0,NaN,9.0,1.0,10386.0,0.622,25.0,14202.267530,14163.31,10550.00,3652.27,2013-06-01,5439.96,NaN,2016-02-01,0
38478,38479,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,2011-07-01,Fully Paid,debt_consolidation,061xx,CT,18.97,0.0,2007-07-01,2.0,NaN,8.0,0.0,7301.0,0.533,12.0,12815.178320,12815.18,10000.00,2815.18,2014-08-01,380.63,NaN,2015-09-01,0
38479,38480,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,2011-11-01,Fully Paid,debt_consolidation,484xx,MI,12.56,0.0,1995-10-01,2.0,38.0,8.0,1.0,2503.0,0.626,18.0,3908.767275,3908.77,3200.00,708.77,2014-12-01,111.88,NaN,2014-11-01,0

In [349]:
# drop unnamed column
df = df.drop(df.columns[0], axis=1)
df

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NaN,0.0,0.0,0.0,“0.00%”,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NaN,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaN,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaN,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaN,2016-06-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,2011-08-01,Fully Paid,credit_card,805xx,CO,22.17,0.0,2000-01-01,2.0,NaN,12.0,0.0,16550.0,0.735,22.0,3586.619764,3586.62,3000.00,586.62,2014-08-01,100.30,NaN,2016-06-01,0
38476,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,2011-08-01,Fully Paid,credit_card,442xx,OH,11.57,0.0,1999-04-01,1.0,NaN,21.0,0.0,16898.0,0.397,33.0,12703.534030,12703.53,10400.00,2303.53,2014-09-01,393.08,NaN,2016-06-01,0
38477,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,2010-05-01,Fully Paid,debt_consolidation,073xx,NJ,10.63,0.0,1995-12-01,1.0,NaN,9.0,1.0,10386.0,0.622,25.0,14202.267530,14163.31,10550.00,3652.27,2013-06-01,5439.96,NaN,2016-02-01,0
38478,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,2011-07-01,Fully Paid,debt_consolidation,061xx,CT,18.97,0.0,2007-07-01,2.0,NaN,8.0,0.0,7301.0,0.533,12.0,12815.178320,12815.18,10000.00,2815.18,2014-08-01,380.63,NaN,2015-09-01,0
38479,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,2011-11-01,Fully Paid,debt_consolidation,484xx,MI,12.56,0.0,1995-10-01,2.0,38.0,8.0,1.0,2503.0,0.626,18.0,3908.767275,3908.77,3200.00,708.77,2014-12-01,111.88,NaN,2014-11-01,0

In [350]:
# copy to new df
loan_df = df.copy()
loan_df

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NaN,0.0,0.0,0.0,“0.00%”,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NaN,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaN,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaN,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaN,2016-06-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,2011-08-01,Fully Paid,credit_card,805xx,CO,22.17,0.0,2000-01-01,2.0,NaN,12.0,0.0,16550.0,0.735,22.0,3586.619764,3586.62,3000.00,586.62,2014-08-01,100.30,NaN,2016-06-01,0
38476,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,2011-08-01,Fully Paid,credit_card,442xx,OH,11.57,0.0,1999-04-01,1.0,NaN,21.0,0.0,16898.0,0.397,33.0,12703.534030,12703.53,10400.00,2303.53,2014-09-01,393.08,NaN,2016-06-01,0
38477,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,2010-05-01,Fully Paid,debt_consolidation,073xx,NJ,10.63,0.0,1995-12-01,1.0,NaN,9.0,1.0,10386.0,0.622,25.0,14202.267530,14163.31,10550.00,3652.27,2013-06-01,5439.96,NaN,2016-02-01,0
38478,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,2011-07-01,Fully Paid,debt_consolidation,061xx,CT,18.97,0.0,2007-07-01,2.0,NaN,8.0,0.0,7301.0,0.533,12.0,12815.178320,12815.18,10000.00,2815.18,2014-08-01,380.63,NaN,2015-09-01,0
38479,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,2011-11-01,Fully Paid,debt_consolidation,484xx,MI,12.56,0.0,1995-10-01,2.0,38.0,8.0,1.0,2503.0,0.626,18.0,3908.767275,3908.77,3200.00,708.77,2014-12-01,111.88,NaN,2014-11-01,0

In [351]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             38480 non-null  int64
 1   member_id                      38480 non-null  int64
 2   loan_amount                    38479 non-null  float64
 3   funded_amount                  38479 non-null  float64
 4   funded_amount_investors        38479 non-null  float64
 5   term                           38480 non-null  object
 6   interest_rate                  38480 non-null  float64
 7   installment                    38479 non-null  float64
 8   employment_length              37487 non-null  object
 9   home_ownership                 38480 non-null  object
 10  annual_income                  38478 non-null  float64
 11  verification_status            38480 non-null  object
 12  issue_date                     38480 non-null  object
 13  loan_status                    38480 non-null  object
 14  purpose                        38480 non-null  object
 15  zip_code                       38480 non-null  object
 16  address_state                  38480 non-null  object
 17  debt_to_income_ratio           38480 non-null  float64
 18  no_delinquency_2yrs            38479 non-null  float64
 19  earliest_credit_line           38480 non-null  object
 20  inquiries_last_6mths           38479 non-null  float64
 21  months_since_last_delinquency  14117 non-null  float64
 22  no_open_accounts               38479 non-null  float64
 23  public_records                 38479 non-null  float64
 24  revolving_balance              38476 non-null  float64
 25  revolving_utillization         38421 non-null  object
 26  no_total_account               38479 non-null  float64
 27  total_payment                  38479 non-null  float64
 28  total_payment_investors        38479 non-null  float64
 29  total_received_principal       38479 non-null  float64
 30  total_received_interest        38479 non-null  float64
 31  last_payment_date              38409 non-null  object
 32  last_payment_amnt              38479 non-null  float64
 33  next_payment_date              3383 non-null   object
 34  last_credit_pull_date          38477 non-null  object
 35  repay_fail                     38480 non-null  int64
dtypes: float64(19), int64(3), object(14)
memory usage: 10.6+ MB

In [352]:
# check if there's any duplicated columns
loan_df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

Check the data format of every column

In [353]:
loan_df.columns

Index(['id', 'member_id', 'loan_amount', 'funded_amount',
       'funded_amount_investors', 'term', 'interest_rate', 'installment',
       'employment_length', 'home_ownership', 'annual_income',
       'verification_status', 'issue_date', 'loan_status', 'purpose',
       'zip_code', 'address_state', 'debt_to_income_ratio',
       'no_delinquency_2yrs', 'earliest_credit_line', 'inquiries_last_6mths',
       'months_since_last_delinquency', 'no_open_accounts', 'public_records',
       'revolving_balance', 'revolving_utillization', 'no_total_account',
       'total_payment', 'total_payment_investors', 'total_received_principal',
       'total_received_interest', 'last_payment_date', 'last_payment_amnt',
       'next_payment_date', 'last_credit_pull_date', 'repay_fail'],
      dtype='object')

Column 'loan_amount'

In [354]:
loan_df['loan_amount'].dtype

dtype('float64')

In [355]:
loan_df['loan_amount'].value_counts()

loan_amount
10000.0    2727
12000.0    2235
5000.0     2027
6000.0     1842
15000.0    1823
           ...
20900.0       1
12425.0       1
29850.0       1
11175.0       1
29800.0       1
Name: count, Length: 881, dtype: int64

Column 'funded_amount'

In [356]:
loan_df['funded_amount'].dtype

dtype('float64')

In [357]:
loan_df['loan_amount'].value_counts()

loan_amount
10000.0    2727
12000.0    2235
5000.0     2027
6000.0     1842
15000.0    1823
           ...
20900.0       1
12425.0       1
29850.0       1
11175.0       1
29800.0       1
Name: count, Length: 881, dtype: int64

Column 'funded_amount_investors'

In [358]:
loan_df['funded_amount_investors'].dtype

dtype('float64')

In [359]:
loan_df['funded_amount_investors'].value_counts()

funded_amount_investors
5000.00000     1232
10000.00000    1174
6000.00000     1116
12000.00000     980
8000.00000      848
               ...
20825.07315       1
24655.75573       1
14899.43381       1
10609.61596       1
14789.50176       1
Name: count, Length: 8473, dtype: int64

Column 'term'

In [360]:
loan_df['term'].dtype

dtype('O')

In [361]:
loan_df['term'].value_counts()

term
36 months    28593
60 months     9887
Name: count, dtype: int64

Column 'interest_rate'

In [362]:
loan_df['interest_rate'].dtype

dtype('float64')

In [363]:
loan_df['interest_rate'].value_counts()

interest_rate
10.99    861
11.49    759
13.49    752
7.51     704
7.88     675
        ...
16.83      1
17.91      1
13.84      1
17.44      1
17.78      1
Name: count, Length: 392, dtype: int64

Column 'installment'

In [364]:
loan_df['installment'].dtype

dtype('float64')

In [365]:
loan_df['installment'].value_counts()

installment
311.11    65
180.96    55
311.02    47
368.45    43
150.80    42
          ..
311.91     1
849.94     1
326.29     1
278.60     1
577.05     1
Name: count, Length: 15475, dtype: int64

Column 'employment_length'

In [366]:
loan_df['employment_length'].dtype

dtype('O')

In [367]:
loan_df['employment_length'].value_counts()

employment_length
10+ years    8465
< 1 year     4565
2 years      4292
3 years      3939
4 years      3314
1 year       3254
5 years      3171
6 years      2144
7 years      1702
8 years      1445
9 years      1196
Name: count, dtype: int64

Column 'home_ownership'

In [368]:
loan_df['home_ownership'].dtype

dtype('O')

In [369]:
loan_df['home_ownership'].value_counts()

home_ownership
RENT        18253
MORTGAGE    17140
OWN          2958
OTHER         125
NONE            4
Name: count, dtype: int64

Column 'annual_income'

In [370]:
loan_df['annual_income'].dtype

dtype('float64')

In [371]:
loan_df['annual_income'].value_counts()

annual_income
60000.00    1440
50000.00    1018
40000.00     857
45000.00     830
30000.00     810
            ...
47839.92       1
90750.00       1
35292.00       1
13296.00       1
78420.00       1
Name: count, Length: 5191, dtype: int64

Column 'verification_status'

In [372]:
loan_df['verification_status'].dtype

dtype('O')

In [373]:
loan_df['verification_status'].value_counts()

verification_status
Not Verified       16962
Verified           12170
Source Verified     9348
Name: count, dtype: int64

Column 'issue_date'

In [374]:
loan_df['issue_date'].dtype

dtype('O')

In [375]:
loan_df['issue_date'].value_counts()

issue_date
2011-11-01    2068
2011-12-01    2056
2011-10-01    1922
2011-09-01    1852
2011-08-01    1745
2011-07-01    1672
2011-06-01    1644
2011-05-01    1544
2011-04-01    1405
2011-03-01    1300
2011-01-01    1255
2010-12-01    1208
2011-02-01    1184
2010-10-01    1120
2010-07-01    1099
2010-11-01    1097
2010-09-01    1069
2010-08-01    1069
2010-06-01     993
2010-05-01     896
2010-04-01     832
2010-03-01     748
2010-02-01     620
2009-11-01     601
2010-01-01     595
2009-12-01     592
2009-10-01     551
2009-09-01     460
2009-08-01     400
2009-07-01     385
2009-06-01     374
2008-03-01     369
2009-05-01     328
2009-04-01     303
2009-03-01     289
2008-02-01     284
2008-01-01     276
2009-02-01     269
2009-01-01     252
2008-04-01     233
2008-12-01     228
2008-11-01     185
2007-12-01     156
2008-07-01     127
2008-06-01     112
2008-10-01     111
2008-05-01     102
2007-11-01     101
2007-10-01     100
2008-08-01      86
2007-08-01      61
2008-09-01      54
2007-07-01      53
2007-09-01      41
2007-06-01       2
1999-12-01       1
2007-01-01       1
Name: count, dtype: int64

Column 'loan_status'

In [376]:
loan_df['loan_status'].dtype

dtype('O')

In [377]:
loan_df['loan_status'].value_counts()

loan_status
Fully Paid                                             29987
Charged Off                                             5111
Does not meet the credit policy. Status:Fully Paid      1782
Current                                                  867
Does not meet the credit policy. Status:Charged Off      689
Late (31-120 days)                                        20
In Grace Period                                           15
Late (16-30 days)                                          7
Default                                                    2
Name: count, dtype: int64

Column 'purpose'

In [378]:
loan_df['purpose'].dtype

dtype('O')

In [379]:
loan_df['purpose'].value_counts()

purpose
debt_consolidation    17917
credit_card            4974
other                  3950
home_improvement       2901
major_purchase         2079
small_business         1808
car                    1481
wedding                 909
medical                 675
moving                  562
house                   387
educational             386
vacation                360
renewable_energy         91
Name: count, dtype: int64

Column 'zip_code'

In [380]:
loan_df['zip_code'].dtype

dtype('O')

In [381]:
loan_df['zip_code'].value_counts()

zip_code
100xx    573
945xx    502
606xx    499
112xx    492
070xx    447
        ...
162xx      1
375xx      1
408xx      1
386xx      1
044xx      1
Name: count, Length: 834, dtype: int64

Column 'address_state'

In [382]:
loan_df['address_state'].dtype

dtype('O')

In [383]:
loan_df['address_state'].value_counts()

address_state
CA    6754
NY    3702
FL    2803
TX    2633
NJ    1795
IL    1523
PA    1491
GA    1371
VA    1343
MA    1285
OH    1209
MD    1010
AZ     856
WA     798
CO     771
NC     747
CT     722
MI     708
MO     677
MN     597
NV     485
WI     473
AL     439
SC     438
OR     419
LA     415
KY     313
OK     284
KS     271
UT     254
AR     238
DC     196
RI     186
NM     186
NH     170
HI     168
WV     166
DE     124
MT      88
WY      78
AK      77
SD      57
VT      52
TN      30
MS      24
IN      19
IA      12
NE      10
ID       8
ME       3
ZZ       1
AA       1
Name: count, dtype: int64

Column 'debt_to_income_ratio'

In [384]:
loan_df['debt_to_income_ratio'].dtype

dtype('float64')

In [385]:
loan_df['debt_to_income_ratio'].value_counts()

debt_to_income_ratio
0.00     191
12.00     44
18.00     42
19.20     39
16.80     39
        ...
26.99      1
29.85      1
27.39      1
29.56      1
28.12      1
Name: count, Length: 2878, dtype: int64

Column 'no_delinquency_2yrs'

In [386]:
loan_df['no_delinquency_2yrs'].dtype

dtype('float64')

In [387]:
loan_df['no_delinquency_2yrs'].value_counts()

no_delinquency_2yrs
0.0     34201
1.0      3244
2.0       700
3.0       224
4.0        62
5.0        26
6.0        13
7.0         5
11.0        2
9.0         1
8.0         1
Name: count, dtype: int64

Column 'earliest_credit_line'

In [388]:
loan_df['earliest_credit_line'].dtype

dtype('O')

In [389]:
loan_df['earliest_credit_line'].value_counts()

earliest_credit_line
1998-11-01    352
1999-10-01    351
2000-10-01    339
1998-12-01    326
1999-11-01    314
             ...
1969-05-01      1
1946-01-01      1
1961-12-01      1
1968-04-01      1
1959-11-01      1
Name: count, Length: 528, dtype: int64

Column 'inquiries_last_6mths'

In [390]:
loan_df['inquiries_last_6mths'].dtype

dtype('float64')

In [391]:
loan_df['inquiries_last_6mths'].value_counts()

inquiries_last_6mths
0.0     17788
1.0     10149
2.0      5452
3.0      2878
4.0       955
5.0       551
6.0       304
7.0       165
8.0       104
9.0        45
10.0       23
11.0       14
12.0       12
15.0        9
14.0        6
13.0        5
18.0        4
16.0        3
19.0        2
24.0        2
27.0        1
32.0        1
31.0        1
33.0        1
25.0        1
20.0        1
17.0        1
28.0        1
Name: count, dtype: int64

Column 'months_since_last_delinquency'

In [392]:
loan_df['months_since_last_delinquency'].dtype

dtype('float64')

In [393]:
loan_df['months_since_last_delinquency'].value_counts()

months_since_last_delinquency
0.0      746
30.0     246
19.0     242
15.0     238
24.0     235
        ...
96.0       1
120.0      1
89.0       1
95.0       1
106.0      1
Name: count, Length: 93, dtype: int64

Column 'no_open_accounts'

In [394]:
loan_df['no_open_accounts'].dtype

dtype('float64')

In [395]:
loan_df['no_open_accounts'].value_counts()

no_open_accounts
7.0     3847
8.0     3778
6.0     3756
9.0     3547
5.0     3086
10.0    3059
11.0    2686
4.0     2268
12.0    2167
13.0    1864
3.0     1447
14.0    1433
15.0    1168
16.0     925
17.0     728
2.0      631
18.0     533
19.0     401
20.0     303
21.0     251
22.0     153
23.0     108
24.0      82
25.0      60
26.0      39
1.0       34
28.0      27
27.0      24
30.0      17
29.0      14
31.0      13
34.0       8
32.0       6
33.0       4
38.0       2
35.0       2
0.0        1
41.0       1
39.0       1
36.0       1
44.0       1
42.0       1
37.0       1
47.0       1
Name: count, dtype: int64

Column 'public_records'

In [396]:
loan_df['public_records'].dtype

dtype('float64')

In [397]:
loan_df['public_records'].value_counts()

public_records
0.0    36340
1.0     2068
2.0       57
3.0       11
4.0        2
5.0        1
Name: count, dtype: int64

Column 'revolving_balance'

In [398]:
loan_df['revolving_balance'].dtype

dtype('float64')

In [399]:
loan_df['revolving_balance'].value_counts()

revolving_balance
0.0        977
255.0       14
298.0       14
400.0       10
6.0         10
          ...
825.0        1
19980.0      1
18746.0      1
7635.0       1
33981.0      1
Name: count, Length: 21470, dtype: int64

Column 'revolving_utillization'

In [400]:
loan_df['revolving_utillization'].dtype

dtype('O')

In [401]:
loan_df['revolving_utillization'].value_counts()

revolving_utillization
0.0       559
0         390
0.708      38
0.478      36
0.255      35
         ...
0.0012      1
0.2977      1
0.3688      1
0.1602      1
0.3773      1
Name: count, Length: 2110, dtype: int64

In [402]:
loan_df['revolving_utillization'].unique()

array(['“0.00%”', '0.213', '0.999', ..., 0.3688, 0.1602, 0.3773],
      dtype=object)

In [403]:
loan_df['revolving_utillization'] = loan_df['revolving_utillization'].replace({'“0.00%”': 0})
loan_df['revolving_utillization'].value_counts()

revolving_utillization
0         560
0         390
0.708      38
0.478      36
0.552      35
         ...
0.0012      1
0.2977      1
0.3688      1
0.1602      1
0.3773      1
Name: count, Length: 2109, dtype: int64

In [404]:
loan_df['revolving_utillization'] = loan_df['revolving_utillization'].replace({'0': 0})
loan_df['revolving_utillization'].value_counts()

revolving_utillization
0.0000    950
0.7080     38
0.4780     36
0.5520     35
0.6690     35
         ...
0.0012      1
0.2977      1
0.3688      1
0.1602      1
0.3773      1
Name: count, Length: 2108, dtype: int64

In [405]:
loan_df['revolving_utillization'].unique()

array([0, '0.213', '0.999', ..., 0.3688, 0.1602, 0.3773], dtype=object)

Column 'no_total_account'

In [406]:
loan_df['no_total_account'].dtype

dtype('float64')

In [407]:
loan_df['no_total_account'].value_counts()

no_total_account
15.0    1423
16.0    1408
14.0    1387
17.0    1385
18.0    1362
        ...
87.0       1
74.0       1
71.0       1
72.0       1
68.0       1
Name: count, Length: 81, dtype: int64

Column 'total_payment'

In [408]:
loan_df['total_payment'].dtype

dtype('float64')

In [409]:
loan_df['total_payment'].value_counts()

total_payment
0.000000        21
11196.569430    21
11784.232230    16
10956.775960    15
13148.137860    14
                ..
8991.939341      1
7023.835297      1
6108.790000      1
12703.534030     1
9385.106074      1
Name: count, Length: 36820, dtype: int64

Column 'total_payment_investors'

In [410]:
loan_df['total_payment_investors'].dtype

dtype('float64')

In [411]:
loan_df['total_payment_investors'].value_counts()

total_payment_investors
0.00        262
6514.52      14
5478.39      13
13148.14     13
10956.78     12
           ...
86.05         1
8991.94       1
6086.77       1
12703.53      1
14346.21      1
Name: count, Length: 36374, dtype: int64

Column 'total_received_principal'

In [412]:
loan_df['total_received_principal'].dtype

dtype('float64')

In [413]:
loan_df['total_received_principal'].value_counts()

total_received_principal
10000.00    2181
12000.00    1729
5000.00     1650
6000.00     1565
15000.00    1349
            ...
19687.25       1
3501.49        1
5371.48        1
951.07         1
1909.02        1
Name: count, Length: 7907, dtype: int64

Column 'total_received_interest'

In [414]:
loan_df['total_received_interest'].dtype

dtype('float64')

In [415]:
loan_df['total_received_interest'].value_counts()

total_received_interest
0.00       72
1196.57    21
1784.23    17
514.52     17
717.95     16
           ..
7855.74     1
1791.94     1
995.23      1
2303.53     1
3652.27     1
Name: count, Length: 34249, dtype: int64

Column 'last_payment_date'

In [416]:
loan_df['last_payment_date'].dtype

dtype('O')

In [417]:
loan_df['last_payment_date'].value_counts()

last_payment_date
2016-06-01    1022
2013-03-01     966
2014-12-01     870
2013-05-01     856
2013-02-01     808
              ...
2008-01-01       8
2008-02-01       6
2007-12-01       2
1999-01-01       1
2007-01-01       1
Name: count, Length: 105, dtype: int64

Column 'last_payment_amnt'

In [418]:
loan_df['last_payment_amnt'].dtype

dtype('float64')

In [419]:
loan_df['last_payment_amnt'].value_counts()

last_payment_amnt
0.00       78
200.00     17
276.06     17
50.00      16
100.00     15
           ..
222.22      1
393.08      1
5439.96     1
380.63      1
146.75      1
Name: count, Length: 33868, dtype: int64

Column 'next_payment_date'

In [420]:
loan_df['next_payment_date'].dtype

dtype('O')

In [421]:
loan_df['next_payment_date'].value_counts()

next_payment_date
2016-07-01    909
2011-03-01    100
2011-04-01     87
2011-02-01     85
2011-01-01     72
             ...
2015-03-01      1
2008-02-01      1
2016-06-01      1
2007-12-01      1
2014-09-01      1
Name: count, Length: 103, dtype: int64

Column 'last_credit_pull_date'

In [422]:
loan_df['last_credit_pull_date'].dtype

dtype('O')

In [423]:
loan_df['last_credit_pull_date'].value_counts()

last_credit_pull_date
2016-06-01    11342
2016-03-01     1015
2016-04-01      816
2013-02-01      794
2016-05-01      695
              ...
2007-05-01        1
2008-07-01        1
2007-07-01        1
2008-06-01        1
2008-05-01        1
Name: count, Length: 110, dtype: int64

Column 'repay_fail'

In [424]:
loan_df['repay_fail'].dtype

dtype('int64')

In [425]:
loan_df['repay_fail'].value_counts()

repay_fail
0    32651
1     5829
Name: count, dtype: int64

In [426]:
# save any changes to csv
loan_df.to_csv('loan_default_data_formatted.csv')